div.paon--select {
	display: inline-grid;
	position: relative;
	
	max-width: 500px;
	background: #20242D;
	border-radius: 8px;
    border: 2px solid #20242D;
	
	color: #F0F0F0;
    transition: all .3s;
}
div.paon--select div.paon--view {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 48px;
	
	height: 44px;
	padding-left: 16px;

    cursor: pointer;
}
div.paon--select div.paon--view > p {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: min-content;
	grid-column-gap: 8px;
	align-items: center;

	padding: 0;
	overflow: hidden;

	white-space: nowrap;
}
div.paon--select div.paon--view span.icon {
	display: grid;
	align-items: center;
	justify-items: center;
}

div.paon--select.paon--list-active { border-color: #4DC9DE; transition: all .3s; }
div.paon--select.paon--list-active ul.paon--list { display: block; }
div.paon--select.paon--list-inactive ul.paon--list { display: none; }
div.paon--select ul.paon--list {
	position: absolute;
	top: calc(100% + 4px);
	left: 0; right: 0;
	z-index: 99;

	border: 2px solid #20242D;
	background: #20242D;
	border-radius: 8px;
	overflow-y: auto;
	overflow-x: hidden;
    box-shadow: 0 0 16px rgba(0, 0, 0, .5);
}
div.paon--select ul.paon--list li.paon--option {
	display: grid;
	align-items: center;
	
	min-height: 32px;
	padding: 8px 16px;
	
	cursor: pointer;
}
div.paon--select ul.paon--list li.paon--option.paon--tag {
	grid-auto-flow: column;
	grid-template-columns: min-content;
	grid-column-gap: 8px;
}
div.paon--select ul.paon--list li.paon--option:hover,
div.paon--select ul.paon--list li.paon--option.paon--selected {
	background: #151923;
}
